{% extends "base.html" %}
{% block body %}
<table class="table">
<thead>
  <tr>
    <th> Program Name </th>
    <th> Abbreviation </th>
    <th> Edit </th>
  </tr>
</thead>
<tbody>
{% for program in programs %}
<tr>
  <td>{{program.programName}}</td>
  <td>{{program.abbreviation}}</td>
  <td><a class="btn btn-default" href="editPrograms/{{program.pid}}">EDIT!</a></td>
  <td><a class="btn btn-default" href="deletePrograms/{{program.pid}}">DELETE!</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{%endblock%}