{% extends "base.html" %}
{% block body %}
<table class="table">
<thead>
  <tr>
    <th>Course Name</th>
    <th>Instructor</th>
    <th>Program Name</th>
  </tr>
</thead>
<tbody>
{% for course in courses %}
  <tr>
    <td>{{course.coursePrefix}} {{course.courseNumber}} {{course.courseName}}</td>
    <td>{{course.instructor.firstName}} {{course.instructor.lastName}}</td>
    <td>{{course.pid.programName}}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}