<!--The below line of code is jinja which is a template engine for python-->
<!-- If you want to learn more about jinja, refer to jinja documentation-->
{% extends "base.html" %} 
{% set currentPage = "start" %}

{# An example first page #}
{% block body %}
<h1>It's Alive!</h1>
<img src="https://49.media.tumblr.com/dc2acffbea837dc5277bb1b469aafbb7/tumblr_n7u8czdwFI1qzs5cqo1_500.gif"/>
<p>Welcome to your application. Don't forget to read the documentation and comments</p>
<p>always know where the emergency exits are at</p>
<img src="https://dorothydalton.files.wordpress.com/2012/04/flight-attendant-exits.jpg"/>
<h2>Useful Links</h2>
<a href="http://jinja.pocoo.org/">Jinja Documentation</a>
<a href="http://docs.peewee-orm.com/en/latest/">Peewee Documentation</a>
<a href="https://git-scm.com/documentation">Git documentation</a>
<a href="http://flask.pocoo.org/docs/0.10/"> Flask Documentation</a>
{% endblock %}